.red-glow { 

    box-shadow: 0px 0px 9px 4px #a00008;
    animation: red-glow 1.5s linear infinite alternate;
}
@keyframes red-glow{
    to {
        box-shadow: 0px 0px 9px 4px #ff3e48;
    }
}

.yellow-glow { 

    box-shadow: 0px 0px 9px 4px #95a000;
    animation: yellow-glow 1.5s linear infinite alternate;
}
@keyframes yellow-glow{
    to {
        box-shadow: 0px 0px 9px 4px #fff23e;
    }
}

.green-glow { 

    box-shadow: 0px 0px 9px 4px #00630d;
    animation: green-glow 1.5s linear infinite alternate;
}
@keyframes green-glow{
    to {
        box-shadow: 0px 0px 9px 4px #4eff3e;
    }
}
.purple-glow { 

    background-color: #c322d5;
    box-shadow: 0px 0px 9px 4px #c322d5;
    animation: purple-glow 1.5s linear infinite alternate;
}
@keyframes purple-glow{
    to {
        box-shadow: 0px 0px 9px 4px #ff6bfa;
    }
}
